resource "azurerm_subnet" "{{ name }}" {
  name                 = "{{ name }}"
  resource_group_name  = azurerm_resource_group.{{ resource_group_name }}.name
  virtual_network_name = azurerm_virtual_network.{{ virtual_network_name }}.name
  address_prefixes     = ["{{ address_prefix }}"]
}
